body{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}



/* Style on header part*/
.header{
    background: linear-gradient(90deg,rgba(214, 57, 57,1),rgba(223, 223, 130,1));
    color: white;
   margin: 0 -8px;
     
    }
.header-wrap{
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: row;

}
.go-to-origin{
    margin: 2% 0;
}
.go-to-origin>ul >li>a{
    color: white;
}
.go-to-origin>ul{
    
    list-style-type: none;
    padding: 0;
}
.go-to-origin>ul  li{
    display: inline;
}
.left-part, .rigth-part{
    width: 40%;
    padding:5%;
}
.rigth-part{
    padding: 5% 20%;
}

strong{
    font-size: 30px;
}
a{
    text-decoration: none;
}
ul>li>span>a{
    color: white;
}
ul>li>span>a:hover{
    text-decoration: underline;
}
/*instructor*/
.instructor-profile{
    display: flex;
    gap: 1%;
    margin: 20px 0;
}
.inst-name{
    position: relative;
    top: 15px;
    
}
.inst-name>div>a{
    color: white;
}
.img-wraper>a>img{
    border-radius: 50%;
}
.achivement{
    border:1px solid white;
    border-radius: 1px;
    color: white;
    background-color: blue;
    font-weight: 10;
    font-size: 14px;
    padding: 2px;
    
}
/*style on rating*/

.checked{
    color: yellow;
}
/*enrollment's style*/
.enrollment-wrap{
    margin: 20px 0;
    width: 50%;
}
.enroll{
    width: 100%;
    background-color: white;
    color:black !important;
    padding: 5% 10%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    height: 80px;
    line-height: 30px;
    border: 0px;
}
.enroll:hover{
    background-color: rgba(219, 215, 215,0.5);
}
.free-enroll{
    font-size: 16px;
    font-style: bold;
}
.enroll>p{
    margin: 10px;
}
/* Style on course nav*/
.tabs-con{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tab{
    color: black ;
   
}
.tab:hover{
    color: blue;
    text-decoration: underline;
    
}
.tab:active{
    color: blue;
    font-weight: bold;
}
/* info part*/
.info{
width: 80%;
margin: 0 auto 50px;
display: flex;
flex-direction: row;
gap: 5%;

}
.course-info{
    width: 70%;
}
.crs-prop{
    width: 25%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.crs-prop>div{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.prop-icon-con{
    padding: 5px;
}
.prop-icon-con>i{
    margin: 5px;
    font-size: 30px;
    color: coral;
    
}
.prop-name{
    font-size: 20px;
    font-weight: bold;
}
.prop-des{
    color: grey;
    font-size: 14px;
}
.skills-tag{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
    color: grey;
}
.tag-title{
    font-size: 20px;
    font-weight: bold;  
}
.tg{
    margin-bottom: 20px;
}
.tags{
    display: grid;
    grid-template-columns: 28% 28% 40%;
    gap: 2%;
}

.tags>div{
    background-color: rgb(219, 215, 215);
    margin: auto;
    padding: 0 10px;
    color: black;
    border-radius: 50%;
}