body{
    margin: 0;
    padding: 0;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}



/* Style on header part*/
.header{
    background: linear-gradient(90deg,rgba(214, 57, 57,1),rgba(223, 223, 130,1));
    color: white;
}

.header-wrap{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}

.go-to-origin{
    margin: 2% 0;
}
.go-to-origin>ul >li>a{
    color: white;
}
.go-to-origin>ul{
    
    list-style-type: none;
    padding: 0;
}
.go-to-origin>ul  li{
    display: inline;
}
.left-part, .rigth-part{
    width: 50%;
}

.rigth-part{
    padding-left: 10%;
}

strong{
    font-size: 30px;
}
a{
    text-decoration: none;
}
ul>li>span>a{
    color: white;
}
ul>li>span>a:hover{
    text-decoration: underline;
}

/******************** instructor ************/
.instructor-profile{
    display: flex;
    gap: 1%;
    margin: 20px 0;
}

.inst-name>div>a{
    color: white;
}

.img-wraper{
    width: 5%;
}
.img-wraper>img{
    border-radius: 50%;
    width: 100%;
}
.achivement{
    border:1px solid white;
    border-radius: 2px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 0.8rem !important;
    padding: 2px 5px;
    
}

/*style on rating*/
.star-cont{
    margin-top: 20px;
}
.checked{
    color: rgb(245, 171, 35);
}
/*enrollment's style*/
.enrollment-wrap{
    margin: 20px 0;
    width: 40%;

}
.enroll{
    width: 100%;
    background-color: blue;
    color:white !important;
    padding: 5% 10%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    min-height: 80px;
    line-height: 30px;
    border: 0px;
    font-weight: bold;
    border-radius: 5px;
}
.enroll:hover{
    background-color: navy;
}
.free-enroll{
    font-size: 16px;
    font-style: bold;
}
.enroll>p{
    margin: 10px;
}
/* Style on course nav*/
.course-nav{
    width: 100%;
    background-color: white;
    z-index: 1;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(168, 164, 164);
    position: sticky;
    top: 0;
}
.tabs-con{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.tab{
    color: black ;
    font-size: 1.2rem;
}
.tab:hover{
    color: blue;
    text-decoration: underline;
    
}
/******* style on Offer by *****/
.un_logo{
    width: 70%;
}
.un_logo>img{
    width: 100%;
}

/*************** info part *************/
.info{
    width: 80%;
    margin: 25px auto 50px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.course-info{
    width: 70%;
}
.info-title p{
    font-size: 14px;
    color: grey;
}

.info-cont{
    margin: 20px auto;
}

.info-cont >p{
    line-height: 1.5; 
    margin: 0 auto;
    text-align: justify;
}

.crs-prop{
    width: 25%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.crs-prop>div{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.prop-icon-con{
    padding: 5px;
}

.prop-icon-con>i{
    margin: 5px;
    font-size: 30px;
    color: coral;  
}

.prop-name{
    font-size: 20px;
    font-weight: bold;
}

.prop-des{
    color: grey;
    font-size: 14px;
}
.skills-tag{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
    color: grey;
}
.tag-title{
    font-size: 20px;
    font-weight: bold;  
}
.tg{
    margin-bottom: 20px;
}
.tags{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 20px auto;
}

.tags>div{
    width: 94%;
    margin: auto;
    text-align: center;
    background-color: rgb(219, 215, 215);
    margin: auto;
    
    color: black;
    border-radius: 15px;
    height: 50px;
    vertical-align: center;

}
.tags>div>p{
    margin-top: 5%;
}

/********* instructor *********/
.instructor_cont{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.part_title{
    font-size: 2rem;
}
.inst_rating{
    font-size: 1rem;
    color: grey;
}
.instructor_bio{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 20px;
}
.ins_pic{
    width: 12%;
}
.ins_pic>img{
    width: 100%;
    border-radius: 50%;
}
.ins_name{
    font-size: 1.5rem;
}
.ins_name:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.biodata{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.occupation{
    font-size: 1rem ;
}
.ach{
    color: rgb(173, 103, 52);
    font-size: 1rem;
}
/******** univercity **************/
.un_cont{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.un_data{
    display: flex;
    gap: 5%;
}

.univercity_logo{
    width: 12%;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.univercity_logo>img{
    width: 100%;
}
.un_about{
    width: 40%;
    text-align: justify;
}
.un_about>p{
    line-height: 1.5;
    margin: 0;
}