body {
    font-family: 'Source Sans Pro', sans-serif;
}

.clear {
    clear: both;
}

/* css for nav bar */
#head {
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: #1f1f1f;
}

#left {
    float: left;
    width: 20%;
    margin: 1%;
}

#left img {
    width: 100%;
}

#right {
    float: right;
    height: 100%;
    width: 64%;
    display: flex;
    flex-direction: row-reverse;
}

#right div {
    padding: 1.3%;
    float: right;
    height: 75%;
    margin-top: 1%;
    margin-bottom: auto;
}

#right button {
    border: none;
    background-color: #0056d2;
    width: 14%;
    height: 70%;
    margin-top: 1%;
    margin-bottom: 1.25%;
    margin-left: 1%;
    border-radius: 2px;
    font-size: 14px;
    color: #ffff;
    text-align: center;
    font-weight: 100;
}

/* css for the first container. It's divided into two parts, fstLeft and fstRight  */
#fst_cont {
    height: 83vh;
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    /* background-color: aqua; */
}

#fstLeft {
    height: 80%;
    width: 45%;
    margin-top: 4%;
    float: left;
    /* background-color: bisque; */
}

#flh {
    font-size: 42px;
    line-height: 52px;
    text-align: unset;
}

#fstLeft p {
    line-height: 28px;
    font-size: 20px;
    letter-spacing: -.1px;
}


#fstRight {
    height: 100%;
    width: 40%;
    float: right;
    /* background-color: bisque; */
}

#fstRight img {
    width: 100%;
}

#fstbtn {
    border: 2px solid #bfd5f4;
    border-radius: 2px;
    padding: 23px 48px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    background-color: #0056d2;
    color: #fff;
    width: 35%;
}

#soa {
    margin-top: 5%;
}

#fstLeft a {
    color: #0056d2;
    text-decoration: none;
}

.linkColor {
    color: #0056d2;
}

/* css for the second part that is just a bar>>discover the latest state of skills...... */
#bar {
    height: 15vh;
    margin-top: 2%;
    background-color: #ebf3ff;
    text-align: center;
}

#bar p {
    padding-top: 2.5%;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
    color: #1f1f1f;
}

#bar a {
    color: #1f1f1f;
}

/* css for the university logo div */
#uni {
    height: 45vh;
    width: 90%;
    margin: auto;
}

#uni h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: black;
}

#hwe {
    width: 95%;
    margin-bottom: 4%;
}

#uni div {
    height: 40%;
    width: 10.93%;
    margin: auto;
    float: left;
}

#uni div img {
    width: 50%;
    margin-left: 25%;

}

/* css for how companies use coursera */
#com {
    height: 40vh;
    width: 90%;
    margin: auto;
    padding-bottom: 10%;
    /* background-color: #bfd5f4; */
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: black;
}

#com_body {
    height: 100%;
}

.com_box {
    /* border: 1px solid red; */
    float: left;
    width: 31.32%;
    height: 70%;
    margin: 1%;
}

.icon2 {
    height: 70%;
}

.img_icon {
    width: 36%;
    margin-left: 32%;
    margin-right: 32%;
}

.com_det {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    color: #1f1f1f;
    text-align: center;
}

/* css for High-impact skill  */
#skill_box {
    height: 100vh;
    width: 90%;
    margin: auto;
    /* background-color: red; */
}

#box_cont {
    /* background-color: wheat; */
    width: 100%;
    margin-top: 5%;
    /* background-color: #0056d2; */

}

.boxcontskill {
    height: 72%;
}

.box {
    float: left;
    height: 100%;
    box-shadow: 0 2px 20px rgb(131 131 131 / 50%);
}

.skillbox1 {
    width: 22%;
    margin: 1.5%;
}

.box_image {
    height: 42%;
}

.box_image img {
    width: 100%;
}

.box_info {
    height: 58%;
    width: 90%;
    margin: 5%;
}

.box_det {
    height: 60%;
    width: 100%;
}

.box_det h3 {
    height: 50%;
    width: 100%;
}

.box_link {
    margin-top: 10%;
}

.box_link a {
    color: #0056d2;
    text-decoration: none;

}

/* css for Explore content developed by leading  */
#courses {
    height: 160vh;
    margin: auto;
    background-color: #ebf3ff;
}

#box_cont2 {
    /* background-color: wheat; */
    width: 100%;
    margin-top: 2%;
    height: 72%;
    /* background-color: #0056d2; */

}

.cbox {
    float: left;
    width: 22%;
    margin: 1.5%;
    height: 47%;
    box-shadow: 0 2px 20px rgb(131 131 131 / 50%);
    background-color: #fff;
}

#bbox {
    background-color: #003583;
    color: #fff;
    font-size: x-large;
    line-height: 39.12px;
}

.cbox_image {
    height: 25%;
}

.cbox_image img {
    width: 100%;
}

.cbox2 {
    height: 25%;
    width: 25%;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
    margin-left: 10%;
    margin-top: -5%;
}

.cbox2 img {
    height: 100%;
}

.box_info2 {
    height: 58%;
    width: 90%;
    margin: 5%;
    margin-top: -3%;
    font-size: 22px;
}

#coour {
    margin-top: 5%;
    border: 1px solid #ebf3ff;
}

/* css for "companies that use coursera" */
#comp {
    height: 45vh;
    width: 90%;
    margin: auto;
}

#comp h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: black;
}

#compHead {
    width: 95%;
    margin-bottom: 4%;
}

#comp div {
    height: 20%;
    width: 16%;
    margin: auto;
    float: left;
    /* border: 1px solid red; */
}

#comp div img {
    height: 100%;


}

#horr img {
    /* display: none; */
    margin-left: 30%;
    /* height: 50px;
    width: 50px; */
}

/* youtube link photo */
#yt {
    width: 60%;
    margin: auto;
}

/* css for start building */
#startB {
    width: 100%;
    margin-top: 5%;
    height: 50vh;
    background-color: #382d8b;
    text-align: center;
    color: white;
}

#startB h1 {
    color: #fff;
    padding-top: 5%;
    letter-spacing: 0;
}

#startB p {
    color: #fff;
    font-size: larger;
}

#fstbtn2 {
    /* border: 2px solid #bfd5f4; */
    border-radius: 2px;
    padding: 23px 48px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 900;
    text-decoration: inherit;
    text-align: center;
    background-color: #fff;
    color: #0056d2;
    width: 35%;
    width: 20%;
    margin: auto;
    margin-top: 2%;
}

/* css for explore more resources */
.skillbox2 {
    box-shadow: 0 2px 20px rgb(131 131 131 / 50%);
    height: 100%;
}

.boxcontskill2 {
    height: 80%;
    float: left;
    width: 30.33%;
    margin: 1.5%;
    margin-top: 5%;
    /* background-color: #0056d2; */
}

#skill_box {
    height: 100vh;
    width: 90%;
    margin: auto;
    margin-bottom: 7.5%;
    /* background-color: red; */
}

.boxcontskill {
    height: 72%;
}

.skillbox1 {
    width: 22%;
    margin: 1.5%;
}

.box_image2 {
    height: 42%;
}

.box_image2 img {
    width: 100%;
}

.box_info2 {
    height: 50%;
    width: 80%;
    margin: 10%;
}

.box_det2 {
    height: 60%;
    width: 100%;
}

.box_det2 p {
    font-size: 76%;
}

.box_det2 h3 {
    height: 50%;
    width: 100%;
    font-size: 130%;
    font-weight: bolder;
}

.box_link2 {
    margin-top: 15%;
}

.box_link2 a {
    color: #0056d2;
    text-decoration: none;
    font-size: 70%;
    font-weight: bold;

}

/* css for footer */
#footer {
    height: 91vh;
    background-color: #f5f7f8;
}

#spade {
    height: 12%;
}

.site-footer {
    height: 80%;
    width: 83%;
    margin: auto;
    /* background-color: #003583; */
}

.info {
    width: 40%;
    height: 100%;
    float: left;
    /* background-color: red; */
}

.logolazy {
    height: 10%;
    width: 30%;
    color: #1f1f1f;
}

.logolazy img {
    height: 100%;
    width: 100%;
}

.about {
    width: 90%;
    font-size: small;
}

.copyright {
    font-size: x-small;
}

.mobile {
    height: 12%;
}

.mobile img {
    height: 100%;
}

#bcorp {
    margin-top: 10%;
    height: 30%;
}

#bcorp img {
    height: 100%;
}

.menu {
    width: 60%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    /* background-color: purple; */
}

.menu ul {
    text-align: left;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 10px;
    float: left;
}

.plain {
    text-transform: uppercase;
    color: #1f1f1f;
}

.menu ul li {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    font-weight: 400;
}
.menu ul li a {
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
}