
 /* white area css */

 #blue{

    display:flex;
    width: 100%;
    height: 300px;
    background-color: rgb(247,246,254);


 }

 #blue > img{
     margin-left: 10%;
 }

 #blue > p{

    font-family: 'Source Sans Pro', sans-serif;

    font-size: 36px;
    font-weight:600px;
    color:rgb(31,31,31);

    margin-top: 5%;
   
    margin-left: 4%;
   

 }

 #heading1{

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 6%;
    margin-top:3%;
    margin-left: 4%;



 }

 #heading2{

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 4%;
    margin-left: 4%;
    



 }


#container {

    background-color: brown;
    width: 60%;
   
}

.small_container {
    display: flex;
    /* margin-left: 4%; */
    width: 60%;
    


}

hr{
    margin-left:4%;
    width:100%;
}

.box {
    display: flex;
    width: 100%;
    height: 180px;
    background-color: white;
    margin-left: 4%;
    margin-top: 3%;
}

.box> div img {
    height: 80%;
    width: 80%;
    border-radius: 10%;
}

#program_due_on {
  
   margin-top: 5%;
}

#program_details{

    width: 70%;
}

#program_details > p:nth-child(1) {

    font-family: 'Source Sans Pro', sans-serif;

    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

#program_details > p:nth-child(2) {

    font-family: 'Source Sans Pro', sans-serif;
    margin-top:1%;

    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;

}

#program_details > p:nth-child(3) {

    font-family: 'Source Sans Pro', sans-serif;
    margin-top:1%;

    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;

}

#program_details > p:nth-child(4) {

    font-family: 'Source Sans Pro', sans-serif;
    margin-top:1%;
    font-style: italic;

    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top:3%;

}


