
body {

    background-color: rgb(93, 113, 138);


}


#heading1 {

    margin-left: 8px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;

}

#heading2 {

    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-right: 40px;


}

.container {

    width: 500px;
    height: 500px;

    border: 2px solid rgb(24, 89, 169);
    /* background-color: cadetblue; */

    border-radius: 5px;

    margin: auto;
    background-color: white;


}

.label {


    margin-left: 50px;
    /* margin-bottom: 20px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

.input {

    width: 350px;
    height: 40px;
    margin-left: 50px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

#loginbtn {

    width: 360px;
    height: 50px;
    cursor:pointer;
    background-color: rgb(24, 89, 169);
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-top:10px;
    font-size: 14px;
    border:none;
}

img {

    width: 200px;
    height: 40px;

    margin-left: 145px;
    margin-top: 20px;



}

#msg {


    margin-left: 50px;
    margin-top: 0;
    color: rgb(80, 78, 78)
}

#loginSuccess{


    margin-left:150px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;

}

#continue{

    margin-left:150px;
    font-size: 16px;
    
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;


}

