.f_clear{
    clear: both;
}

.blueBgColor{
    background-color: blue;
    color: white;
}

.nav-bar{
    height: 80px;
    border-bottom: 1px solid grey;
    width: 100%;
}

header{
    width: 100%;
    background-color: white;
}
    
.arrow{
    height: 100px;
}
.nav{
    /* height: 80px; */
    width: 100px;
    /* height: 50px; */
    }
    #logo{
    /* height: 100px; */
    width: 150px;
    }
    
    .left> div{
    margin: 10px;
    margin-top: 20px;
    float: left;
    }
    
    #exp_nav{
    margin-left: 30px;
    /* margin-top: -20px !important; */
    font-size: 20px;
    background-color: blue;
    /* height: 40px; */
    color: white;
    text-align: center;
    padding: 10px;
    border-radius:5px;
    }
    
    .jn a{ 
        color:#fff;
    }
    .icon{
    width: 10px;
    filter: invert();
    }
    
    .search_icon{
    /* height: 20px; */
    width: 20px;
    filter: invert();
    /* background-color: black; */
    /* margin-left: -30px; */
    
    /* display: inline; */
    /* margin-top: 10px; */
    /* background-color: blue; */
    }
    
    #search>input{
    border:1px solid black;
    width: 300px;
    height: 38px;
    line-height: 40px;
    /* margin: 10px; */
    
    /* padding: 5px; */
    border-radius: 5px 0px 0px 5px;
    /* text-align:center; */
    }
    
    
    #icon_search{
    padding: 10px;
    background-color: blue;
    margin-left: -11px;
    height: 20px;
    border: 1px solid black;
    /* width: 300px; */
    border-radius: 0px 5px 5px 0px;
    
    }
    
    .right{
    /* margin-right: 50px; */
    /* width: 800px; */
    
    display: flex;
    margin-left: 800px;
    margin-top: -40px;
    gap: 5%;
    
    }
    
    .right> li{
    
    flex-direction: column-reverse;
    /* margin-right: 100px; */
    /* margin-top: -30px; */
    list-style: none;
    margin-left: 20px;
    /* font-size: 20px; */
    cursor: pointer;
    }
    .right > .for > a{
        color: black;
        text-decoration: none;
    }
    .right > li:hover{
        text-decoration: underline;
    }
    
    .right>li> a button{
    height: 40px;
    padding: 10px;
    background-color: blue;
    color: white;
    margin-top: -20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    
    }
    #lg{
    text-decoration: none;
    
    }
    