
.clr_blue{
    color: blue;
}

.l_clear{
    clear: left;
}

.f_clear{
    clear: both;
}


.nav-bar{
   
    background-color: white;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid grey;
}

.arrow{
    height: 100px;
}

.nav{ 
    width: 7%;
}

#logo{
   
    width: 150px;
  
}

.left> div{
  
    margin: 0.8%;
    
    margin-top: 1.7%;
    float: left;
}

#exp_nav{
    
    position: absolute;

    display: inline-block;
}

.dropbtn{  
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-weight: 400;
    border-radius:5px;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: relative;
    background-color: #f1f1f1; ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.dropdown-content a{ 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: visible;
    
}

.dropdown-content p{
    font-weight: bolder;
    margin-left: 6%;
    margin-top: 5%;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

#exp_nav:hover .dropdown-content {
    display: block;
    margin-top: 5%;
    margin-left: -35%;
}

#exp_nav:hover .dropbtn{
    background-color: white;
    color: blue;
    border: 1px solid black;
}

.icon{
    width: 10px;
    filter: invert();
}

#search{
    margin-left: 10%;
}

.search_icon{
    width: 20px;
    filter: invert();
    cursor: pointer;
}

#search>input{
    border:1px solid black;
    width: 120%;
    height: 38px;
    line-height: 40px;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}


#icon_search{
    padding: 10px;
    background-color: blue;
    height: 20px;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;

}

.right{
    display: flex;
    margin-left: 62%;
    margin-top: -3.5%;
}

.right> li{

  flex-direction: column-reverse;
    list-style: none;
    margin-left: 20px;
  
    cursor: pointer;
}
.right>li> button{
    padding: 10px;
    background-color: blue;
    color: white;
    margin-top: -5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lg{
    text-decoration: none;
}