#container {

    height: 800px;
    margin: auto;


}

/* Notice heading styling  */

#notice {

    height: 40px;
    background-color: rgb(38, 54, 116);
    margin-bottom: 0;
   
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
    line-height: 24px;
    /* text-decoration: none; */
    color: white;

}

#s_list {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    margin-left: 100px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
   
}

/* container containg left portion (logo + text) */
#addmisions_container {
    margin-top: 0;
    padding-top: 0;
    height: 400px;
    width: 60%;
    position: absolute;
    background-color: rgb(19, 41, 75);

}



#get_started::before {


    content: "";
    position: relative;
    height: 100%;
    width: 1000px;
    z-index: -1;
    opacity: 0.89;

}

/* styling of div containig get started today and apply and requests buttons */

#get_started {

    width: 600px;
    height: 400px;
    background-image: url("https://images.ctfassets.net/wp1lcwdav1p1/phdtZ838jtqiZ0OUP1Owr/589c4c2881844be40ee0276848a56d46/4-hero_background_image__2_.jpeg");
    background-color: rgb(255, 255, 255);
    opacity: 0.85;
    float: right;



}

/* text and buttons styling inside get started div  starts*/

#forText {
    width: 350px;
    height: 300px;
    margin: auto;
    opacity: 2;
    margin-top: 30px;
    margin-left: 150px;
    background-color: white;
}



#empty_above_started {
    height: 12px;
    margin-bottom: 25px;
    width: 100%;
    background-color: rgb(42, 115, 204);
}

#forText>h3 {

    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 27px;
    margin-left: 20px;
    margin-bottom: 5px;

}

#forText>p {

    margin-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 24px;
    margin-left: 20px;

}

.get_button {

    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    height: 50px;
    cursor:pointer;
    background-color: rgb(15, 96, 191);
    color: white;
    font-size: 16px;
    border: 1px solid rgb(15, 96, 191);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
}

.get_button:hover {
    background-color: rgb(11, 68, 133);
    color: white;
}



.request_button {

    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    height: 50px;
    background-color: white;
    color: rgb(15, 96, 191);
    border: 1px solid rgb(15, 96, 191);
    font-size: 16px;
    text-align: center;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 24px;
}

.request_button:hover {

    background-color: rgb(15, 96, 191);
    cursor:pointer;
    color: white;

}

/* text and buttons styling inside get started div  ends*/




/* styling of left side blue box logo and text starts */

#logo {


    height: 100%;
    margin-left: 100px;

}

#logo>img {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    box-shadow: 10px 5px 5px white;
}

#logo>h1 {

    color: white;

    font-size: 28px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 42px;
    height:50px;
    width:600px;
    margin-bottom: 0px;
    /* background-color: brown; */


}

#logo>h2 {

    margin-top: 0px;

    color: white;
    width:600px;

    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 36px;


}

#logo>button {
    background-color: inherit;
    color: white;
    width: 60px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;



}

/* styling of left side blue box logo and text ends*/



#listItems {
    margin-top: 400px;
    height: 40px;
    text-align: center;
    padding-top: 10px;

}

#listItems>ul {
    display: flex;
    
}

#listItems>ul li {
    display: flex;
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}



#right_box {

    margin-top: 70px;
    width: 36%px;
    float: right;
    
}



#left_box {

    margin-top: 60px;
    margin-left: 100px;
    width: 64%;
    float: left;
}

#left_box h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: rgb(55, 58, 60);

}

#left_box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(55, 64, 78);
    margin-right: 85px;

}

#right_box>h3 {

    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
}

#right_box>p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#right_box>p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#apply{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 16px;
}