<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

   <% degreeList.forEach(degrees => {%>
        
    <p><%=degrees.programs %></a></p> 
    
       
    
    <%})%>

    


    
</body>
</html>

<!-- <script>

//     function valid(e){

//         e.preventDefault()

    

//    var val =  localStorage.getItem("degree_name")


//    console.log("val:", val)

//     }


</script> -->