<!DOCTYPE html>
<html lang="en">

<head>

    <title>Online MBA (iMBA) University of Illinois | Coursera</title>
    <link rel="icon" href="https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/favicon-v2-96x96.png" sizes="96x96">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
        #container {

            height: 800px;
            margin: auto;


        }

        /* Notice heading styling  */

        #notice {

            height: 40px;
            background-color: rgb(38, 54, 116);
            margin-bottom: 0;
           
            text-align: center;
            padding: 5px;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            padding-top: 15px;
            line-height: 24px;
            /* text-decoration: none; */
            color: white;

        }

        #s_list {
            margin-top: 0;
            margin-bottom: 0;
            color: white;
            font-weight: 700;
            margin-left: 100px;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            line-height: 21px;
        }

        /* container containg left portion (logo + text) */
        #addmisions_container {
            margin-top: 0;
            padding-top: 0;
            height: 400px;
            width: 60%;
            position: absolute;
            background-color: rgb(19, 41, 75);

        }



        #get_started::before {


            content: "";
            position: relative;
            height: 100%;
            width: 1000px;
            z-index: -1;
            opacity: 0.89;

        }

        /* styling of div containig get started today and apply and requests buttons */

        #get_started {

            width: 600px;
            height: 400px;
            background-image: url("https://images.ctfassets.net/wp1lcwdav1p1/phdtZ838jtqiZ0OUP1Owr/589c4c2881844be40ee0276848a56d46/4-hero_background_image__2_.jpeg");
            background-color: rgb(255, 255, 255);
            opacity: 0.85;
            float: right;



        }

        /* text and buttons styling inside get started div  starts*/

        #forText {
            width: 350px;
            height: 300px;
            margin: auto;
            opacity: 2;
            margin-top: 30px;
            margin-left: 150px;
            background-color: white;
        }



        #empty_above_started {
            height: 12px;
            margin-bottom: 25px;
            width: 100%;
            background-color: rgb(42, 115, 204);
        }

        #forText>h3 {

            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            line-height: 27px;
            margin-left: 20px;
            margin-bottom: 5px;

        }

        #forText>p {

            margin-top: 5px;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
            line-height: 24px;
            margin-left: 20px;

        }

        .get_button {

            width: 90%;
            margin-left: 5%;
            margin-bottom: 10px;
            height: 50px;
            background-color: rgb(15, 96, 191);
            color: white;
            font-size: 16px;
            border: 1px solid rgb(15, 96, 191);
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            font-weight: 600;
            line-height: 24px;
        }

        .get_button:hover {
            background-color: rgb(11, 68, 133);
            color: white;
        }



        .request_button {

            width: 90%;
            margin-left: 5%;
            margin-bottom: 10px;
            height: 50px;
            background-color: white;
            color: rgb(15, 96, 191);
            border: 1px solid rgb(15, 96, 191);
            font-size: 16px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            line-height: 24px;
        }

        .request_button:hover {
            background-color: rgb(15, 96, 191);
            color: white;
        }

        /* text and buttons styling inside get started div  ends*/




        /* styling of left side blue box logo and text starts */

        #logo {


            height: 100%;
            margin-left: 100px;

        }

        #logo>img {
            margin-top: 30px;
            width: 180px;
            height: 50px;
        }

        #logo>h1 {

            color: white;

            font-size: 34px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            line-height: 42px;
            margin-bottom: 0px;


        }

        #logo>h2 {

            margin-top: 0px;

            color: white;

            font-size: 24px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            line-height: 36px;


        }

        #logo>button {
            background-color: inherit;
            color: white;
            width: 60px;
            height: 25px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;



        }

        /* styling of left side blue box logo and text ends*/



        #listItems {
            margin-top: 400px;
            height: 40px;
            text-align: center;
            padding-top: 10px;

        }

        #listItems>ul {
            display: flex;
            
        }

        #listItems>ul li {
            display: flex;
            margin-left: 80px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            line-height: 21px;
            font-size: 14px;
        }

       

        #right_box {

            margin-top: 70px;
            width: 36%px;
            float: right;
            
        }



        #left_box {

            margin-top: 60px;
            margin-left: 100px;
            width: 64%;
            float: left;
        }

        #left_box h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 34px;
            color: rgb(55, 58, 60);

        }

        #left_box p {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: rgb(55, 64, 78);
            margin-right: 85px;

        }

        #right_box>h3 {

            font-family: 'Open Sans', sans-serif;

            font-size: 16px;
        }

        #right_box>p:nth-child(2) {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
        }

        #right_box>p:nth-child(3) {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <!-- // Container containing all items -->

    <div id="container">
        <div id="notice"><a href ="apply_now.html" style="color:white">Applications for the October cohort are due by September 1,2021 | Apply today! </a></div>


        <!--div containing get started box -->

        <div id="get_started">
            <div id="forText">
                <div id="empty_above_started"></div>

                <h3>Get Started today</h3>

                <p>Start your application or request more info.</p>

                <button  class="get_button"><a href="/register/<%=prog._id%>">Apply</a></button>

                <button class="request_button">Request Info</button>
            </div>



        </div>


        <!--container containing logo and text(present in left hand side box) -->

        <div id="addmisions_container">



            <div id="s_list">
                <p>Online Degrees ><%=prog.program_name %> > Admissions</p>
            </div>





            <div id="logo">

                <img
                    src="https://images.ctfassets.net/wp1lcwdav1p1/6n1jmkJnKPDH5QU8aqYFiA/c2017d6963fb5ef2d78edb420745614c/GIES_UIUC_RO__1_.png" />

                <h1><%=prog.program_name %></h1>
                <h2><%=prog.offered_by %></h2>
                <button>Share</button>
            </div>




        </div>

        <div id="listItems">

            <ul>
                <li>Overview</li>
                <li>Admission</li>
                <li>Academic</li>
                <li>Tuition & Financing</li>
                <li>Student Experience</li>
                <li>Career</li>
                <li>About the University</li>

            </ul>
            <hr />



        </div>


        <div id="contect_lbox">

            <div id="left_box">
                <h1>A deeply engaging online MBA from a public university powerhouse.</h1>
                <p>Students in the iMBA program earn the same high-quality MBA degree that on-campus students have been
                    earning for decades--but without needing to put career or family life on hold. Students achieve
                    business mastery, gain lifelong leadership skills, and build a global network as they work alongside
                    fellow students and faculty.</p>

                <p>The iMBA program features live global classrooms via web conferencing, team projects, and personal
                    interaction with professors during virtual office hours. The nearly 2,000 students in the iMBA
                    family represent more than 90 countries and 48 states across the United States. The program was
                    hailed as a “breakthrough” by Poets & Quants, a leading authority on management education. The iMBA
                    is from Gies College of Business at the University of Illinois Urbana–Champaign, a historical
                    land-grant public research institution founded in 1867.</p>

            </div>

            <div id="right_box">

                <h3>$22,104 USD</h3>
                <p>Total Cost</p>
                <p>2 – 3 years</p>
                <p>72 credit hours | 18 courses plus three capstone projects</p>
                <p>Completely online</p>

            </div>
        </div>




    </div>





</body>

</html>

<!-- <script>

    function goTo() {

        location.href = "apply_now.html";
    }

    var applyBtn = document.getElementsByClassName("get_button")


</script> -->