<footer>
    <div class="footer-cont">
        <div class="ft-uper-box">
            <div class="ft-left">
                <div class="bar">
                    <div class="bar-t">Couresa</div>
                    <div><a href="#">About</a></div>
                    <div><a href="#">What we offer</a></div>
                    <div><a href="#">Leadership</a></div>
                    <div><a href="#">Career</a></div>
                    <div><a href="#">Catalog</a></div>
                    <div><a href="#">Coursera plus</a></div>
                    <div><a href="#">Prefessional Certificate</a></div>
                    <div><a href="#">Degree</a></div>
                    <div><a href="#">For Students</a></div>
                    <div><a href="#">For Enterprises</a></div>
                    <div><a href="#">For Government</a></div>
                    <div><a href="#">For Campus</a></div>
                </div>
                <div class="bar">
                    <div class="bar-t">Community</div>
                    <div><a href="#">Learners</a></div>
                    <div><a href="#">Partners</a></div>
                    <div><a href="#">Developers</a></div>
                    <div><a href="#">Beta Testers</a></div>
                    <div><a href="#">Translators</a></div>
                    <div><a href="#">Blog</a></div>
                    <div><a href="#">Tech Blog</a></div>
                    <div><a href="#">Teaching Center</a></div>
                </div>
                <div class="bar">
                    <div class="bar-t">More</div>
                    <div><a href="#">Press</a></div>
                    <div><a href="#">Investors</a></div>
                    <div><a href="#">Terms</a></div>
                    <div><a href="#">Privacy</a></div>
                    <div><a href="#">Help</a></div>
                    <div><a href="#">Accessibility</a></div>
                    <div><a href="#">Contact</a></div>
                    <div><a href="#">Articals</a></div>
                    <div><a href="#">Directory</a></div>
                    <div><a href="#">Affiliates</a></div>
                </div>
            
            
            </div>
           
            <div class="ft-right">
                <div class="apple-store ">
                    <a href="#"><img src="https://d3njjcbhbojbot.cloudfront.net/web/images/icons/download_on_the_app_store_badge_en.svg" class="dwl"></a>
                </div>
                <div class="play-store ">
                    <a href=""><img src="https://d3njjcbhbojbot.cloudfront.net/web/images/icons/en_generic_rgb_wo_45.png" class="dwl"></a>
                </div>
                <div class="cert">
                    <a href="#"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d3njjcbhbojbot.cloudfront.net/web/images/icons/2018-B-Corp-Logo-Black-S.png?auto=format%2Ccompress&dpr=1&w=151&h=120&q=40" > </a></div>
            </div>
        </div>
        <hr>

        <div class="lower-box">
            <div class="bf-l">
                <span>&copy; 2021 Coursera Inc. All rights reserved.</span>
            </div>
            <div class="bf-r">
                <div>
                    <span><a><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/facebook.png?auto=format%2Ccompress&dpr=1&w=28&h=28&q=40"></a></span>
                    <span> <a><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/linkedin.png?auto=format%2Ccompress&dpr=1&w=28&h=28&q=40"></a></span>
                    <span><a><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/twitter.png?auto=format%2Ccompress&dpr=1&w=28&h=28&q=40"></a></span>
                    <span><a><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/youtube.png?auto=format%2Ccompress&dpr=1&w=28&h=28&q=40"></a></span>
                    <span><a><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/instagram.png?auto=format%2Ccompress&dpr=1&w=28&h=28&q=40"></a></span>
                   
                </div>
            </div>
            <div class="clear-f"></div>
        </div>

    </div>
</footer>