<div id="footer">

    <div class="footer_top">

        <h3>Start or advance your career</h3>
        <h3>Browse popular topics</h3>
        <h3>Upskill your team</h3>
        <h3>Earn a degree or certificate online</h3>
        <!-- </a> -->


        <a href="#">Google Data Analyst</a>
        <a href="#">Free Courses</a>
        <a href="#">Skills for Data Science Teams</a>
        <a href="#">MasterTrack® Certificates</a>

        <a href="#">Google Project Management</a>
        <a href="#">Learn a Language</a>
        <a href="#">Data Driven Decision Making</a>
        <a href="#">Professional Certificates</a>

        <a href="#">Google UX Design</a>
        <a href="#">Python</a>
        <a href="#">Software Engineering Skills</a>
        <a href="#">University Certificates</a>

        <a href="#">Google IT Support</a>
        <a href="#">Java</a>
        <a href="#">Soft Skills for Engineering Teams</a>
        <a href="#">MBA & Business Degrees</a>

        <a href="#">IBM Data Science</a>
        <a href="#">Web Design</a>
        <a href="#">Management Skills</a>
        <a href="#">Data Science Degrees</a>

        <a href="#">IBM Data Analyst</a>
        <a href="#">SQL</a>
        <a href="#">Marketing Skills</a>
        <a href="#">Computer Science Degrees</a>

        <a href="#">IBM Data Analytics with Excel and R</a>
        <a href="#">Cursos Gratis</a>
        <a href="#">Skills for Sales Teams</a>
        <a href="#">Data Analytics Degrees</a>

        <a href="#">IBM Cybersecurity Analyst</a>
        <a href="#">Microsoft Excel</a>
        <a href="#">Product Manager Skills</a>
        <a href="#">Public Health Degrees</a>

        <a href="#">Facebook Social Media Marketing</a>
        <a href="#">Project Management</a>
        <a href="#">Skills for Finance</a>
        <a href="#">Social Sciences Degrees</a>

        <a href="#">IBM Full Stack Cloud Developer</a>
        <a href="#">Cybersecurity</a>
        <a href="#">Android Development Projects</a>
        <a href="#">Management Degrees</a>


        <a href="#">Salesforce Sales Development Representative</a>
        <a href="#">Human Resources</a>
        <a href="#">TensorFlow and Keras Projects</a>
        <a href="#">Degrees from Top European Universities</a>

        <a href="#">Salesforce Sales Operations</a>
        <a href="#">Data Science Free Courses</a>
        <a href="#">Python for Everybody</a>
        <a href="#">Master's Degrees</a>

        <a href="#">Soporte de Tecnologías de la <br> Información de Google</a>
        <a href="#">Speaking English</a>
        <a href="#">Deep Learning</a>
        <a href="#">Bachelor's Degrees</a>

        <a href="#">Certificado profesional de <br> Suporte em TI do Google</a>
        <a href="#">Content Writing</a>
        <a href="#">Excel Skills for Business</a>
        <a href="#">Degrees with a Performance Pathway</a>

        <a href="#">Google IT Automation with Python</a>
        <a href="#">Full Stack Web Development</a>
        <a href="#">Business Foundations</a>
        <a href="#">Bsc Courses</a>

        <a href="#">DeepLearning.AI Tensorflow</a>
        <a href="#">Artificial Intelligence</a>
        <a href="#">Machine Learning</a>
        <a href="#">What is a Bachelor's Degree?</a>

        <a href="#">Popular Cybersecurity Certifications</a>
        <a href="#">C Programming</a>
        <a href="#">AWS Fundamentals</a>
        <a href="#">How Long Does a Master's Degree Take?</a>

        <a href="#">Popular SQL Certifications</a>
        <a href="#">Communication Skills</a>
        <a href="#">Data Engineering Foundations</a>
        <a href="#">Is an Online MBA Worth It</a>

        <a href="#">Popular IT Certifications</a>
        <a href="#">Blockchain</a>
        <a href="#">Data Analyst Skills</a>
        <a href="#">7 Ways to Pay for Graduate School</a>

        <a href="#">See all certificates</a>
        <a href="#">See all courses</a>
        <a href="#">Skills for UX Designers</a>
        <a href="#">See all degrees</a>

        <div class="f_clear"></div>
    </div>


    <div class="footer_bottom_left">
        <h1>Coursera</h1>
        <h1>Community</h1>
        <h1>More</h1>


        <a href="#">About</a>
        <a href="#">Learners</a>
        <a href="#">Press</a>

        <a href="#">What We Offer</a>
        <a href="#">Partners</a>
        <a href="#">Investors</a>

        <a href="#">Leadership</a>
        <a href="#">Developers</a>
        <a href="#">Terms</a>

        <a href="#">Careers</a>
        <a href="#">Beta Testers</a>
        <a href="#">Privacy</a>

        <a href="#">Catalog</a>
        <a href="#">Translators</a>
        <a href="#">Help</a>

        <a href="#">Coursera Plus</a>
        <a href="#">Blog</a>
        <a href="#">Accessibility</a>

        <a href="#">Professional Certificates</a>
        <a href="#">Tech Blog</a>
        <a href="#">Contact</a>

        <a href="#">MasterTrack® Certificates</a>
        <a href="#">Teaching Center</a>
        <a href="#">Articles</a>

        <a href="#">Degrees</a>
        <a href="#"></a>
        <a href="#">Directory</a>

        <a href="#">For Enterprise</a>
        <a href="#"></a>
        <a href="#">Affiliates</a>


    </div>
    <div class="f_clear"></div>


    <div class="footer_bottom_right">
        <img src="img/app Store.svg" alt="App store"><br>
        <img src="img/google Store.png" id="google_store" alt="Google store"><br>
        <img src="img/certified corporation logo.png" alt="Certified Corporation">

    </div>
    <div class="f_clear"></div>
    <hr>

    <div class="footer_main">
        <div class="footer_main_left">
            <p>© 2021 Coursera Inc. All rights reserved.</p>
        </div>
        <div class="f_clear"></div>

        <div class="footer_main_right">
            <img src="img/Facebook-f_Logo-Black-Logo.wine.png" alt="FaceBook">
            <img src="img/LinkedIn-Icon-Black-Logo.wine.png" alt="Linkdin">
            <img src="img/Twitter-Logo.wine.png" alt="Twitter">
            <img src="img/YouTube-Icon-Almost-Black-Logo.wine.png" alt="You tube">
            <img src="img/Instagram-Glyph-Black-Logo.wine.png" alt="Instagram">
        </div>
        <div class="f_clear"></div>


    </div>

</div>